<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.MvvmLightLibs" version="4.3.31.2" targetFramework="portable-net45+win" />
  <package id="System.Data.SQLite" version="1.0.92.0" targetFramework="portable-net45+win" />
  <package id="Unity" version="3.5.1404.0" targetFramework="portable-net45+win" />
</packages>